<ul class="lessons">
  <li class="lesson"><a href="#">Introduction to Version Control</a>
    <p class="lesson__time">2:30</p>
  </li>
  <li class="lesson"><a href="#">What is Git?</a>
    <p class="lesson__time">2:30</p>
  </li>
  <li class="lesson"><a href="#">Why use Version Control</a>
    <p class="lesson__time">2:30</p>
  </li>
  <li class="lesson"><a href="#">Introduction to Github</a>
    <p class="lesson__time">2:30</p>
  </li>
  <li class="lesson"><a href="#">Setup git and github</a>
    <p class="lesson__time">2:30</p>
  </li>
</ul>
