<ul class="lessons">
  <li class="lesson">
    <h3>Introduction to Version Control</h3>
    <p class="lesson__time">2:30</p>
  </li>
  <li class="lesson">
    <h3 class="lesson__name">What is Git?</h3>
    <p class="lesson__time">2:30</p>
  </li>
  <li class="lesson">
    <h3 class="lesson__name">Why use Version Control</h3>
    <p class="lesson__time">2:30</p>
  </li>
  <li class="lesson">
    <h3 class="lesson__name">Introduction to Github</h3>
    <p class="lesson__time">2:30</p>
  </li>
  <li class="lesson">
    <h3 class="lesson__name">Setup git and github</h3>
    <p class="lesson__time">2:30</p>
  </li>
</ul>
