@use "variables"
*
  box-sizing: border-box
  &::before, &::after
    box-sizing: border-box

html
  font-size: 100%
body
  font: 400 1rem/1.5 'Montserrat', sans-serif
  background: variables.$background
  margin: 0

