@use "variables"
*
  box-sizing: border-box
  &::before, &::after
    box-sizing: border-box

html
  font-size: 100%
body
  font: 400 1rem/1.5 'Montserrat', sans-serif
  background: variables.$background
  margin: 0
:where(img)
  width: 100%
  height: auto
section
  margin-block-start: 1.125rem

main
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 100vh
  padding-block-start: 1.125rem
  padding-block-end: 1.125rem
  padding-inline-start: 1.125rem
  padding-inline-end: 1.125rem
  background: variables.$background
  color: variables.$text
