<div
  #videContainer
  (fullscreenchange)="setFullScreen($event)"
  class="video__wrapper"
>
  <video
    [poster]="posterImage ? posterImage : ''"
    #videoPlayer
    (timeupdate)="updateSeekValue(); this.updateScrubber()"
    (progress)="updateBufferStatus()"
    (playing)="setPlaying($event)"
    (pause)="setPlaying($event)"
    (click)="playPause()"
  >
    <ng-content></ng-content>
  </video>
  @if (showPlayButton) {
    <div class="video__play-button">
      <button class="button" (click)="playVideo()">
        <i-feather name="play-circle"></i-feather>
      </button>
    </div>
  }
  <div
    class="video__nav"
    (mouseover)="showControls()"
    (mouseleave)="hideControls()"
    [class]="showPlayButton ? 'is-hidden' : ''"
  >
    <div class="video__scrubber" (click)="scrubVideo($event)">
      <div class="scrubber-progress__played" #scrubberProgress></div>

      <div class="scrubber-progress__loaded" #bufferedProgress></div>
    </div>
    <div class="video__controls">
      <div class="control__group">
        <div class="control__group">
          <button (click)="playPause()">
            @if (isPlaying()) {
              <i-feather name="pause"></i-feather>
            } @else {
              <i-feather name="play"></i-feather>
            }
          </button>
          <span class="control__time">
            <span>{{ cTimeText }}</span
            >/<span>{{ dTimeText }}</span>
          </span>
        </div>
        <div class="control__group">
          <button (click)="vidMute()">
            @if (isMuted()) {
              <i-feather name="volume-x"></i-feather>
            } @else if (volumeValue === 0) {
              <i-feather name="volume"></i-feather>
            } @else if (volumeValue > 0 && volumeValue < 50) {
              <i-feather name="volume-1"></i-feather>
            } @else {
              <i-feather name="volume-2"></i-feather>
            }
          </button>
          <input
            type="range"
            min="0"
            max="100"
            [(ngModel)]="volumeValue"
            (input)="setVolume()"
            step=".05"
          />
        </div>
      </div>
      <button (click)="toggleFullScreen()">
        @if (isFullScreen()) {
          <i-feather name="minimize"></i-feather>
        } @else {
          <i-feather name="maximize"></i-feather>
        }
      </button>
    </div>
  </div>
</div>
