<div
  #videContainer
  (fullscreenchange)="setFullScreen($event)"
  class="video__wrapper"
>
  <video
    [poster]="posterImage ? posterImage : ''"
    #videoPlayer
    (timeupdate)="updateSeekValue(); this.updateScrubber()"
    (progress)="updateBufferStatus()"
    (playing)="setPlaying($event)"
    (pause)="setPlaying($event)"
    (click)="playPause()"
  >
    <ng-content></ng-content>
  </video>
  @if (showPlayButton) {
    <button class="button" (click)="playVideo()">
      <img
        src="https://feather-icons.manuelosor.io/api/icons/play-circle?color=%23f2f2f2&size=30"
        alt=""
      />
    </button>
  }
  <div
    class="video__nav"
    (mouseover)="showControls()"
    (mouseleave)="hideControls()"
    [class]="showPlayButton ? 'is-hidden' : ''"
  >
    <div
      class="video__scrubber"
      (click)="scrubVideo($event)"
    >
      <div class="scrubber-progress__played" #scrubberProgress></div>

      <div class="scrubber-progress__loaded" #bufferedProgress></div>
    </div>
    <div class="video__controls">
      <div class="control__group">
        <div class="control__group">
          <button (click)="playPause()">
            @if (isPlaying()) {
              <img
                src="https://feather-icons.manuelosor.io/api/icons/pause?color=%23f2f2f2"
                alt=""
              />
            } @else {
              <img
                src="https://feather-icons.manuelosor.io/api/icons/play?color=%23f2f2f2"
                alt=""
              />
            }
          </button>
          <span class="control__time">
            <span>{{ cTimeText }}</span
            >/<span>{{ dTimeText }}</span>
          </span>
        </div>
        <div class="control__group">
          <button (click)="vidMute()">
            @if (isMuted()) {
              <img
                src="https://feather-icons.manuelosor.io/api/icons/volume-x?color=%23f2f2f2"
                alt=""
              />
            } @else if (volumeValue === 0) {
              <img
                src="https://feather-icons.manuelosor.io/api/icons/volume?color=%23f2f2f2"
                alt=""
              />
            } @else if (volumeValue > 0 && volumeValue < 50) {
              <img
                src="https://feather-icons.manuelosor.io/api/icons/volume-1?color=%23f2f2f2"
                alt=""
              />
            } @else {
              <img
                src="https://feather-icons.manuelosor.io/api/icons/volume-2?color=%23f2f2f2"
                alt=""
              />
            }
          </button>
          <input
            type="range"
            min="0"
            max="100"
            [(ngModel)]="volumeValue"
            (input)="setVolume()"
            step=".05"
          />
        </div>
      </div>
      <button (click)="toggleFullScreen()">
        @if (isFullScreen()) {
          <img
            src="https://feather-icons.manuelosor.io/api/icons/minimize?color=%23f2f2f2"
            alt=""
          />
        } @else {
          <img
            src="https://feather-icons.manuelosor.io/api/icons/maximize?color=%23f2f2f2"
            alt=""
          />
        }
      </button>
    </div>
  </div>
</div>
