<div class="countdown grid">
  <div class="countdown__item column--6 column__md--1">
    <span class="countdown__number">{{ daysRemaining() }}</span>
    <span class="countdown__label">Days</span>
  </div>
  <div class="countdown__item column--6 column__md--1">
    <span class="countdown__number">{{ hoursRemaining() }}</span>
    <span class="countdown__label">Hours</span>
  </div>
  <div class="countdown__item column--6 column__md--1">
    <span class="countdown__number">{{ minutesRemaining() }}</span>
    <span class="countdown__label">Minutes</span>
  </div>
  <div class="countdown__item column--6 column__md--1">
    <span class="countdown__number">{{ secondsRemaining() }}</span>
    <span class="countdown__label">Seconds</span>
  </div>
</div>
