<div class="countdown grid">
  <div class="countdown__item column--6 column__md--1">
    <span class="countdown__number">{{ daysRemaining() < 0 ? 0 : daysRemaining() }}</span>
    <span class="countdown__label">Days</span>
  </div>
  <div class="countdown__item column--6 column__md--1">
    <span class="countdown__number">{{ hoursRemaining() < 0 ? 0 : hoursRemaining() }}</span>
    <span class="countdown__label">Hours</span>
  </div>
  <div class="countdown__item column--6 column__md--1">
    <span class="countdown__number">{{ minutesRemaining() < 0 ? 0 : minutesRemaining() }}</span>
    <span class="countdown__label">Minutes</span>
  </div>
  <div class="countdown__item column--6 column__md--1">
    <span class="countdown__number">{{ secondsRemaining() < 0 ? 0 : secondsRemaining() }}</span>
    <span class="countdown__label">Seconds</span>
  </div>
</div>
