<nav class="nav">
  <a class="nav__logo">
    <img
      src="/assets/logo.svg"
      alt="Code Maestro Logo"
      width="305"
      height="33.44"
    />
  </a>
  <ul class="nav__list">
    <li class="nav__link">
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="nav__link">
      <a routerLink="/courses" routerLinkActive="active">Courses</a>
    </li>
    <li class="nav__link">
      <a routerLink="/Community" routerLinkActive="active">Community</a>
    </li>
    <li class="nav__link">
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
    </li>
    @if (isAuth()) {
      <li class="nav__link">
        <button (click)="signOut()" class="button__secondary">Sign Out</button>
      </li>
    } @else {
      <li class="nav__link">
        <a routerLink="/auth/signin" routerLinkActive="active">Sign In</a>
      </li>
      <li class="nav__link">
        <a routerLink="/auth/signup" routerLinkActive="active">Sign Up</a>
      </li>
    }
  </ul>
</nav>
