<dialog class="modal" #modal>
  @if (errorMessage && errorMessage.length > 0) {
    <div class="status status--error">{{ errorMessage }}</div>
  }
  @if (successMessage && successMessage.length > 0) {
    <div class="status status--success">{{ successMessage }}</div>
  }
  <form [formGroup]="modalForm" (submit)="subscribe()">
    <fieldset class="grid">
      <legend class="column--12">Subscribe to the Course Mail List</legend>
      <div class="form-group column--12 column__md--6">
        <label for="name">
          Name
          @if (name.hasError('required') && name.touched) {
            <span class="error">Name is required</span>
          }
        </label>
        <input
          type="text"
          id="name"
          formControlName="name"
          [class]="name.invalid && name?.touched ? 'has-error' : ''"
        />
      </div>
      <div class="form-group column--12 column__md--6">
        <label for="email">
          Email
          @if (email.hasError('required') && (email.dirty || email.touched)) {
            <span class="error">Email is required</span>
          }
          @if (email.hasError('pattern') && (email.dirty || email.touched)) {
            <span class="error">Email is invalid</span>
          }
        </label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [class]="email.invalid && email?.touched ? 'has-error' : ''"
        />
      </div>
    </fieldset>
    <div class="grid cta-row">
      <button
        type="submit"
        [disabled]="modalForm.invalid"
        class="button__primary column--12 column__md--4"
      >
        Subscribe
      </button>
      <div class="column--12 column__md--8 auth-group grid">
        <p class="column--6" >Have an account? <a routerLink="/auth/signin">Sign In</a></p>
        <p class="column--6">Need an account? <a routerLink="/auth/signup">Sign Up</a> </p>
      </div>
    </div>
  </form>
  <div class="close" (click)="close()">
    <img
      src="https://feather-icons.manuelosor.io/api/icons/x?color=%23fff&size=24&stroke_width=2"
      alt=""
    />
  </div>
</dialog>
