@use "../variables"
.button
  padding: 0.9375em 1.875em
  font-size: 1rem
  font-weight: 500
  text-transform: capitalize
  --button-background: transparent
  --button-color: variables.$text
  background: var(--button-background)
  color: var(--button-color)
  border-radius: 10px
  transition: 200ms ease
  &__primary
    @extend .button
    --button-background: #{variables.$primary}
    --button-color: #{variables.$background}

    &:hover
      --button-background: #{variables.$primary-dark}
  &__secondary
    @extend .button
    --button-background: #{variables.$white}
    --button-color: #{variables.$black}
    &:hover
      --button-background: #{variables.$primary}
