$primary: #008080
$primary-dark: #003C3C
$black: #1C1C1C
$white: #FFFFFF
$snow: #F7F0F0
$red: #E44141

$text: $black
$text-light: lighten($text, 35%)
$background: $snow
$background-fade: transparent linear-gradient(180deg, rgba(247, 240, 240, 0) 0%, rgba($background, 60%), $background 20%, $background 100%) //0% 0% no-repeat padding-box

